.hero {
  background: image-url("home.jpg") center top; 
  background-size: cover;
  color: #fff;
}

.jumbotron {
  padding: 8rem 4rem;
}

footer {
  background: #6927ff;
  color: #fff;
  padding: 5rem 0;
}

.container {
  max-width: 2400px;
  padding: 0 62px;
}

.content {
  min-height: 700px;
}

textarea {
  resize: none;
  margin-bottom: 10px;
}

.card-footer {
  text-align: center;
}

.fas {
  color: orange;
  margin: 0 5px;
}

.like-btn {
  color: #000;
  letter-spacing: 10px;
  margin: 0 5px;
}

.down-btn {
  color: #fff;
  letter-spacing: 10px;
  margin: 0 5px;
}
