.jumbotron {
  padding: 8rem 4rem;
  background: image-url("home.jpg") center top; 
  background-size: cover;
  color: #fff;
}

footer {
  background: #6927ff;
  color: #fff;
  padding: 5rem 0;
}

.content {
  min-height: 700px;
}